.jumbotron{
  border-style: solid;
  border-width: 1px;
  border-color: #ffbd59;
  background-color: black;
}


h1{
  color: #ffbd59;
  font-family:playfair;
}

h2{
  color: #ffbd59;
}

p{
  color: #ffbd59;
}


.btn-1{
  background-color: black;
  color: #ffbd59;
  border-style: solid;
  border-width: 1px;
  border-color: #ffbd59;
}
